/* Root Variables */
:root {
  --primary-400: #3B098C;
  --primary-500: #28055F;
  --primary-600: #11012B;

  --secondary-400: #055483;
  --secondary-500: #033959;
  --secondary-600: #011928;

  --tertiary-400: #B20045;
  --tertiary-500: #79002F;
  --tertiary-600: #360015;

  --grey-100: #F5F5F5;
  --grey-200: #E5E5E5;
  --grey-300: #C5C5C5;
  --grey-400: #B5B5B5;
  --grey-500: #454545;
  --grey-600: #353535;
  --grey-700: #252525;
  --grey-800: #151515;

  --container-width: 288px;
  --container-template: repeat(4, 1fr);
  --gutter-width: 16px;

  --font-size-xxl: 30px;
  --line-height-xxl: 40px;

  --font-size-xl: 24px;
  --line-height-xl: 32px;

  --font-size-lg: 20px;
  --line-height-lg: 28px;

  --font-size-default: 16px;
  --line-height-default: 24px;

  --font-size-small: 13px;
  --line-height-small: 20px;
}
@media only screen and (min-width: 360px) {
  :root {
    --container-width: 328px;
  }
}
@media only screen and (min-width: 375px) {
  :root {
    --container-width: 343px;
  }
}
@media only screen and (min-width: 414px) {
  :root {
    --container-template: repeat(6, 1fr);
    --container-width: 382px;
  }
}
@media only screen and (min-width: 768px) {
  :root {
    --container-template: repeat(12, 1fr);
    --container-width: 736px;
  }
}
@media only screen and (min-width: 1024px) {
  :root {
    --container-template: repeat(16, 1fr);
    --container-width: 992px;
  }
}
@media only screen and (min-width: 1366px) {
  :root {
    --container-width: 1334px;
  }
}

/* Reset */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img, embed, object, video {
  display: block;
  max-width: 100%;
}

/* Body */
body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
}

/* Typography */
h1,h2,h3,h4,h5,h6,p {
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  margin-bottom: var(--line-height-default);
}

/* Container Grid */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
.container-grid {
  display: grid;
  grid-gap: var(--gutter-width);
  grid-template-columns: var(--container-template);
}

/* Header & Footer */
header, footer {
  align-items: center;
  background: var(--grey-200);
  display: flex;
  font-size: 24px;
  line-height: 32px;
  height: 80px;
  justify-content: center;
  width: 100%;
}

/* Select */
.select {
  position: relative;
  width: 100%;
}
.select--text {
  appearance: none;
  -webkit-appearance:none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: 0px 1px 0 var(--grey-400);
  font-size: var(--font-size-default);
  line-height: var(--line-height-default);
  padding: 12px 0;
  position: relative;
  width: 100%;
}
.select--text:focus {
  box-shadow: none;
  outline: none;
}
.select:after {
  position: absolute;
  top: 21px;
  right: 0;
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--grey-400);
  pointer-events: none;
}
.select--label {
  color: var(--grey-400);
  font-size: var(--font-size-default);
  left: 0;
  line-height: var(--line-height-default);
  pointer-events: none;
  position: absolute;
  top: 12px;
  transition: 0.2s ease all;
}
.select--text:focus ~ .select--label, .select--text:valid ~ .select--label {
  color: var(--primary-400);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  transition: 0.2s ease all;
  top: -10px;
}
.select--bar {
  position: relative;
  display: block;
  width: 100%;
}
.select--bar:before, .select--bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: -1px;
  position: absolute;
  background: var(--primary-400);
  transition: 0.2s ease all;
}
.select--bar:before {
  left: 50%;
}
.select--bar:after {
  right: 50%;
}
.select--text:focus ~ .select--bar:before, .select--text:focus ~ .select--bar:after {
  width: 50%;
}
.select--highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* Button */
button {
  background: var(--primary-400);
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: var(--font-size-default);
  padding: 12px 16px;
  text-transform: uppercase;
  width: 100%;
}
button:focus {
  outline: none;
}

/* Pagination */
.pagination {
  border: 1px solid var(--grey-100);
  display: inline-flex;
}
.pagination ul {
  display: flex;
  list-style: none;
}
.pagination li {
  border-right: 1px solid var(--grey-100);
}
.pagination li:last-child {
  border: none;
}
.pagination button {
  color: var(--grey-100);
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}
.pagination button:disabled {
  background-color: var(--grey-700);
}


/* Product List */
.product-list {
  display: grid;
  grid-gap: var(--gutter-width);
  grid-template-columns: repeat(2, 1fr);
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 24px 0;
}
@media only screen and (min-width: 768px) {
  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Product List Item */
.product-list--item a {
  text-decoration: none;
}
.product-list--item h2 {
  color: var(--grey-500);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  margin: 0;
}
.product-list--item h3 {
  color: var(--grey-800);
}
.product-list--item img {
  margin-bottom: var(--gutter-width);
}

/* Product Filters */
.product-filters {
  background: var(--grey-100);
  padding: 16px 0;
}
.product-filters .select {
  margin-top: 10px;
  max-width: 382px;
}

/* Product */
.product-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}


/* Product Page */
.product-page .column {
  grid-column: 1/5;
}
@media only screen and (min-width: 414px) {
  .product-page .column {
    grid-column: 1/7;
  }
}
@media only screen and (min-width: 768px) {
  .product-page .column:nth-child(1) {
    grid-column: 1/7;
  }
  .product-page .column:nth-child(2) {
    grid-column: 7/13;
  }
}
@media only screen and (min-width: 1024px) {
  .product-page .column:nth-child(1) {
    grid-column: 1/9;
  }
  .product-page .column:nth-child(2) {
    grid-column: 10/16;
  }
}
@media only screen and (min-width: 1366px) {
  .product-page .column:nth-child(2) {
    grid-column: 11/15;
  }
}
/* Product Page Content */
.product-page--content {
  display: grid;
  grid-gap: 24px;
}
@media only screen and (min-width: 768px) {
  .product-page--content {
    padding: 24px 0;
  }
}
@media only screen and (min-width: 1024px) {
  .product-page--content {
    padding: 48px 0;
  }
}

/* Product Details */
.product-page--details {
  display: grid;
  grid-gap: 8px;
}
.product-page--details > * {
  margin: 0;
}
.product-page--details h1 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
}
@media only screen and (min-width: 768px) {
  .product-page--details h1 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
  .product-page--details h2 {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
  }
}
@media only screen and (min-width: 1024px) {
  .product-page--details h1 {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
  }
  .product-page--details h2 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
  }
}

/* Product Refinements */
.product-page--refinements {
  display: grid;
  grid-gap: 16px;
}
