<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet"/>
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta charSet="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="{{bodyClasses}}">{{&body}}</body>
</html>
