<div>
  <header>{{&productCount}}</header>
  <div class="product-filters">
    <div class="container">
      {{&filters}}
    </div>
  </div>
  <div class="container product-list">
    {{&products}}
  </div>
  <div class="container product-pagination">
    <div class="pagination"></div>
  </div>
  <footer>{{&productCount}}</footer>
</div>
<template id="product-item-template">
  {{&productTemplate}}
</template>
<script type="text/x-mustache-template" id="pagination-template">
  {{&paginationTemplate}}
</script>
<script src="/js/mustache.min.js"></script>
<script src="/js/pages/category.js" type="module"></script>
<script src="/js/legacy/category.min.js" nomodule></script>
