<div class="select">
  <select class="select--text" required="">
    {{#options}}
      <option {{selected}} value="{{value}}">{{name}}</option>
    {{/options}}
  </select>
  <span class="select--highlight"></span>
  <span class="select--bar"></span>
  <label class="select--label">Sort By</label>
</div>
