<div>
  <header><a href="/">back to category page</a></header>
  <div class="container container-grid product-page">
    <div class="column">
      <img src="{{imageUrl}}" alt="{{description}}" style="width: 100%;" />
    </div>
    <div class="column">
      <div class="product-page--content">
        <div class="product-page--details">
          <h1>{{description}}</h1>
          <h2>£{{price}}</h2>
        </div>
        <div class="product-page--refinements">
          <div class="select">
            <select class="select--text" required>
              <option value="" disabled selected></option>
              <option value="1">10</option>
              <option value="2">12</option>
              <option value="3">14</option>
            </select>
            <span class="select--highlight"></span>
            <span class="select--bar"></span>
            <label class="select--label">Select Size</label>
          </div>
          <button>Add To Bag</button>
        </div>
        <div class="product-page--description">
          <p>Look great in this crinkle pull-on bardot. The bardot is fashioned from a soft crinkle fabric and features a frill detail to the front. Available in a variety of prints and colours. The crinkle bardot is perfect to be worn in those warmer summer months, worn with trousers and sandals.</p>
        </div>
      </div>
    </div>
  </div>
  <footer></footer>
</div>
<script src="/js/mustache.min.js"></script>
<script src="/js/pages/product.js" type="module"></script>
<script src="/js/legacy/product.min.js" nomodule></script>
