<div class="product-list--item">
  <a href="/product.php?id={{ productId }}">
    <img src="{{ imageUrl }}" alt="{{ description }}"/>
    <h2>{{ description }}</h2>
    <h3>${{ price }}</h3>
  </a>
</div>
